#root, html {
    background-color: #AAC2FF;
}

.App{
    max-width: 600px;
    margin: auto;
}

/* DISPLAY CSS */
.Display {
    background-color: #45547B;
    color: #EEEEEE;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.Display div {
    max-width: 30%;
    flex-grow: 1;
}

.Display h1 {
    font-size: 85px;
}

.Display p {
    margin: 0;
}

.Display .details {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}

.Display .icon :first-child:not(img){
    margin-top: 50px;
}

/* SEARCH */
.Search {
    max-width: 60%;
    margin: 20px auto;
    text-align: center;
}

.Search .hide {
    display: none;
}

.Search Input{
    text-align: center;
}